* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background-color: rgba(112, 170, 5, 0.76);
  padding: 20px;
  border-bottom: solid 5px black;
}

body {
  background-color: rgba(11, 97, 3, 0.815);
  height: 100vh;
  border: solid 5px black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 291px);
  grid-template-rows: 120px;
  justify-content: center;
}

.point-one,
.point-two,
.point-three {
  display: flex;
  justify-content: space-evenly;
}

/* point one */
.point-one {
  transform: rotate(315deg);
  margin-top: 65px;
  margin-right: 80px;
}

.space {
  padding: 25px;
}

.square {
  background-color: red;
  border: solid 3px black;
  padding: 50px;
  margin: 10px;
}

/* point two */
.point-two {
  padding-top: 100px;
}

.space-blue {
  width: 95px;
  height: 13px;
  background-color: blue;
  border: solid 2px black;
  margin-top: 20px;
}

.space-green {
  padding: 5px;
}

.circle {
  width: 100px;
  height: 90px;
  background-color: cadetblue;
  border: solid 5px black;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 20px;
}

/* point three */
.point-three {
  display: flex;
  justify-content: space-around;
}

.text {
  width: 200px;
  height: 400px;
  border: solid 5px black;
  color: black;
  background-color: white;
  font-size: 50px;
  text-align: center;
  margin: 40px 20px;
}

/* animacje */
.circle:hover {
  border-radius: 0%;
}

.square:hover {
  transform: rotate(45deg);
}

.space-blue:hover {
  background-color: blueviolet;
}

.text:hover {
  opacity: 0.7;
}

/* media query */
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 291px);
  }

  .point-one {
    order: 1;
  }
  .point-two {
    order: 3;
  }
  .point-three {
    order: 2;
  }
  .text {
    background-color: brown;
  }
}

@media (max-width: 582px) {
  .grid {
    grid-template-columns: 291px;
  }

  .point-one {
    order: 1;
  }
  .point-two {
    order: 2;
  }
  .point-three {
    order: 3;
  }
  .text {
    background-color: blue;
    margin: 10px 20px;
  }
}
